/* For Mobile Phone Devices */
@media screen and (max-width: 767px) {
    /* Section Heading */
    .section-heading {
        position: unset;
        height: 0;
        min-width: 320px;
    }

    .section-heading-child {
        display: none;
    }

    .section-heading-count-issues {
        position: fixed;
        font-size: 14px;
        border: 1px solid white;
        color: white;
        border-radius: 42%;
        padding: 1px 3px;
        top: 18px;
        right: 70px;
        height: 22px;
        margin: 0;
        background-color: #4eb97e;
    }
    /* End Section Heading */

    /* Section Heading Sidebar */
    .section-heading-sidebar {
        display: none;
        min-width: 250px;
    }
    /* End Section Heading Sidebar */

    /* Section Heading Sidebar */
    .section-content-sidebar {
        display: none;
        min-width: 250px;
    }
    /* End Section Heading Sidebar */

    /* Section Heading Search */
    .section-heading-search {
        top: 0;
        padding: 0;
        position: fixed;
    }

    .section-heading-search-logo {
        background-color: transparent;
        float: left;
        line-height: 55px;
        min-width: 320px;
        padding-left: 20px;
    }

    .section-heading-search-group {
        width: 100%;
    }

    .section-heading-search-group>p,
    .section-heading-search-group-search-box {
        display: none;
    }

    .section-heading-search-group-select-box {
        float: left;
        border: none;
        width: 100%;
    }

    .section-heading-search-group-select-project {
        height: 55px;
        background-color: transparent;
        border: none;
        padding-left: 20px;
    }

    .select-heading-project-select-submenu-item-child a {
        padding: 6px 0 6px 24px;
    }

    .select-heading-project-select-submenu-list .select-heading-project-select-submenu-item:last-of-type {
        padding: 6px 0 6px 24px;
    }

    .section-heading-search-group-select-project p {
        padding-left: 20px;
        line-height: 55px;
        color: white;
    }

    .section-heading-search-select-open,
    .section-heading-search-select-close {
        display: none;
    }

    .section-heading-search-select-mobile-open {
        position: absolute;
        left: 20px;
        top: 21px;
        color: #ffffff93;
        display: block;
        cursor: pointer;
    }

    .section-heading-search-select-mobile-close {
        position: absolute;
        left: 20px;
        top: 21px;
        color: #ffffff93;
        display: none;
        cursor: pointer;
    }

    .section-heading-search-menu-button {
        background-color: transparent;
        color: white;
        right: 0;
        border-left: 1px solid #ccc;
        position: fixed;
        line-height: 55px;
        padding: 0 7px;
        display: block;
    }

    .section-heading-project-select {
        top: 55px;
        width: 100%;
        min-width: 300px;
        height: 303px;
        border-radius: 0 0 3px 3px;
        box-shadow: 0 5px 8px -2px rgba(0, 0, 0, .25), 0 1px 2px rgba(0, 0, 0, .3);
        background-color: white;
    }

    .section-heading-project-select-box input {
        height: 40px;
        width: -webkit-fill-available;
    }

    .section-heading-project-select-box i {
        position: absolute;
        top: 20px;
        right: 25px;
    }

    .section-heading-search-select-open,
    .section-heading-search-select-close {
        display: none !important;
    }
    /* End Section Heading Search */

    /* Section Heading Form */
    .section-login-page-form {
        width: 32%;
        min-width: 300px;
        margin: 100px auto 40px auto;
    }

    .section-login-page-form-login {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .section-login-page-form-login-account-input,
    .section-login-page-form-login-password-input {
        background-color: #f4f5f7;
    }
    /* End Section Heading Form */

    /* Section Content */
    .section-content-my-issues-left,
    .section-content-my-issues-right {
        width: 100%;
        padding: 0;
    }

    .section-content-my-issues-right {
        margin-top: 30px;
    }

    .section-content {
        margin-top: 80px;
    }

    .section-content-header {
        margin-top: 15px;
        display: flex;
        flex-direction: column-reverse;
        height: 90px;
        min-width: 200px;
    }

    .section-content-header-title {
        margin-top: 15px;
    }

    .section-content-header-contextual {
        float: left;
    }

    .section-content-my-issues-list {
        min-width: 240px;
    }

    .section-content-my-issues-no-data {
        min-width: 320px;
    }

    .section-content-my-issues-table-content td {
        vertical-align: top;
    }
    /* End Section Heading Content */

    /* Section-Content-Project */
    .section-content-project {
        margin-top: 100px;
        min-width: 350px;
    }

    .section-content-project-menu {
        display: none;
    }

    .section-content-project-filters-select-list-left,
    .section-content-project-filters-select-list-right {
        float: left;
    }

    .section-content-project-filters-select-list-right {
        margin-left: 10px;
    }

    .section-content-project-filters-select-list-right .section-content-project-filters-select-child {
        margin-left: 0;
        margin-top: 30px;
    }

    .section-content-project-filters-select-list-right .section-content-project-filters-select-child select {
        margin-left: 44px;
        width: 186px;
    }

    .section-content-project-filters-select-child {
        top: 0;
        margin-left: 100px;
    }

    .section-content-project-filters{
        margin-bottom: 40px;
    }
    .section-content-project-filters-item {
        margin-left: 10px;
        width: 186px;
    }

    .filters-spacing-mobile-on {
        margin-bottom: 0px!important;
    }

    .filters-spacing-mobile-off {
        margin-bottom: 20px!important;
    }

    .section-content-project-filters-item:first-of-type {
        display: inline-block;
    }

    .section-content-project-filters-item:last-of-type {
        display: block;
    }

    .section-content-project-filters-select-input {
        position: absolute;
        top: 0;
    }

    .section-content-project-list-project-child {
        margin-left: 0;
        width: 100%;
    }

    .section-content-project-list-project-item {
        width: 100%;
        background-color: #F9FAFB;
        border: 1px solid #DBDDE6;
        border-radius: 3px;
        margin-left: 0;
    }

    .section-content-project-filters-select {
        display: none;
        position: relative;
        margin-top: 5px;
    }

    .filters-display {
        flex-direction: column;
        display: flex !important;
    }

    .section-content-project-filters-list-rotate i {
        rotate: -90deg;
    }

    .filters-rotate-off {
        transform: rotate(0deg);
        z-index: -1;
        transition: transform 0.7s;
    }

    .filters-rotate-on {
        transform: rotate(90deg);
        transition: transform 0.7s;
        z-index: -1;
    }

    .section-content-project-filters-item:last-of-type {
        width: 186px;
        margin-top: 10px;
    }
    /* End Section-Content-Project */
}