/* Create Login Page*/
* {
    margin: 0;
    padding: 0;
}

.section-login-page {
    width: 100%;
    min-width: 500px;
}

.section-login-page-heading {
    width: 100%;
    min-width: 500px;
}

.section-login-page-heading-login {
    height: 30px;
    background-color: rgba(158, 47, 6, 0.842);

}

.section-login-page-heading-login-span {
    float: right;
    color: #ccc;
    font-size: 13px;
    line-height: 30px;
    margin-right: 20px;
    font-weight: 500;
    display: block;
    cursor: pointer;
}

.section-login-page-heading-logo {
    background-color: rgba(255, 68, 0, 0.836);
    height: 55px;
}

.section-login-page-heading-logo-span {
    color: white;
    font-size: 30px;
    line-height: 55px;
    padding-left: 5px;
    font-weight: 500;
}

.section-login-page-form {
    width: 370px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 45px;
    padding: 20px;
    background-color: #f4f5f7;
    border: 2px solid #eeeff0f6;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(185, 183, 183, 0.2) 0px 2px 5px 0px;
}

.section-login-page-form-login-password {
    margin-top: 15px;
}

.section-login-page-form-login-account-title, 
.section-login-page-form-login-password-title {
    font-weight: 500;
    margin: 5px;
}

.section-login-page-form-login-account-input,
.section-login-page-form-login-password-input {
    border: 1px solid rgba(224, 224, 224, 0.856);
    border-radius: 2px;
    height: 30px;
    width: 100%;
}

.section-login-page-form-login-button button {
    width: 100%;
    margin-top: 15px;
    border-radius: 3px;
}

.section-login-page-footer-information {
    padding-left: 30px;
    font-size: 13px;
    color: #ccc;
    min-width: 500px;
}
/* End Create Login Page */